@model TrabajoPractico.Models.Libro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resumen" class="control-label"></label>
                <input asp-for="resumen" class="form-control" />
                <span asp-validation-for="resumen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="foto" id="foto" value="@Model.foto" />
                <img src="@(!string.IsNullOrEmpty(Model.foto) ? "/fotos/"+Model.foto : "")" id="imagen" class="rounded-circle" style="max-width:50px" />
                <input type="file" name="seleccionImg" id="seleccionImg" accept="image/jpeg" />
            </div>
            <div class="form-group">
                <label asp-for="fechaPublicacion" class="control-label"></label>
                <input asp-for="fechaPublicacion" class="form-control" />
                <span asp-validation-for="fechaPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="generoid" class="control-label"></label>
                <select asp-for="generoid" class="form-control" asp-items="ViewBag.generoid"></select>
                <span asp-validation-for="generoid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autorid" class="control-label"></label>
                <select asp-for="autorid" class="form-control" asp-items="ViewBag.autorid"></select>
                <span asp-validation-for="autorid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js//preview.js"></script>
